<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<dom-module id="datos-usuarios">
  <template>
    <style >
      :host {
        display: block;
      }

      paper-progress {
        display: block;
        width: 100%;
        margin: 20px 0;
      }
    </style>


    <iron-ajax id="hacerLogin"
        url="{{urlBack}}/apitechu/v5/login"
        method="POST"
        handle-as="json"
        on-response="mostrarResultadoLogin"
        on-error="mostrarErrorLogin">
    </iron-ajax>

    <iron-ajax id="registrar"
        url="{{urlBack}}/apitechu/v5/usuarios"
        method="POST"
        handle-as="json"
        content-type="application/x-www-form-urlencoded"
        on-response="respuestaRegistrarUsuario"
        on-error="mostrarErrorRegistrar">
    </iron-ajax>

    <paper-progress indeterminate class="blue" hidden id="indicadorCarga"></paper-progress>

</template>

  <script>
    class DatosUsuarios extends Polymer.Element {
      static get is() { return 'datos-usuarios'; }
      static get properties() {
        return {
          urlBack: {
            type: String,
            value: function() {
              var appConfig = new AppConfig()
              return appConfig.urlBack; 
            }
          }
        };
      }

      login(email, password){
        this.$.hacerLogin.headers.email = email
        this.$.hacerLogin.headers.password = password
        this.$.hacerLogin.generateRequest()
        this.indicadorCarga(true)
      }
      
      mostrarResultadoLogin(resultado) {
        this.indicadorCarga(false)
        var detail = {"usuario": {"id": resultado.detail.response._id.$oid, 
                     "token": resultado.detail.response.token,
                     "nombre": resultado.detail.response.nombre
                    }}
        console.log(detail)
        this.dispatchEvent(new CustomEvent("entrar", 
          {"detail": detail}))
      }

      mostrarErrorLogin(resultado){
        this.indicadorCarga(false)
        this.dispatchEvent(new CustomEvent("error", {"detail":resultado}))
      }

      indicadorCarga(estado){
        this.$.indicadorCarga.hidden = !estado
        this.$.indicadorCarga.active = estado
      }

      crearUsuario(nombre, apellidos, email, password){
        var bodyToSend = {
          nombre: nombre,
          apellidos: apellidos,
          email: email,
          password: password  
        }
        this.$.registrar.body = bodyToSend
        this.indicadorCarga(true)
        this.$.registrar.generateRequest()
      }

      respuestaRegistrarUsuario(resultado){
        this.indicadorCarga(false)
        console.log("Usuario registrado correctamente.")
        this.dispatchEvent(new CustomEvent("registrado"))
      }
    }

    window.customElements.define(DatosUsuarios.is, DatosUsuarios);
  </script>
</dom-module>
