
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="datos-usuarios.html">

<dom-module id="usuario-registrar">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

  <app-header-layout >
      <app-header slot="header" condenses reveals effects="waterfall">
        <app-toolbar>
          <paper-icon-button   icon="my-icons:arrow-back" on-tap="volver"></paper-icon-button>
          <div>Registrar</div>
        </app-toolbar>
      </app-header>
    </app-header-layout>

    <datos-usuarios  id="datosUsuarios"></datos-usuarios>

    <div class="card">
      <paper-input 
                    id="nombre"
                    required="true"
                    auto-validate
                    error-message="Introduce nombre!"                     
                    label="nombre" value={{nombre::input}}></paper-input> 
      <paper-input  id="apellidos"
                    required="true"
                    auto-validate
                    error-message="Introduce apellidos!" 
                    label="apellidos" value={{apellidos::input}}></paper-input> 
      <paper-input  id="email"
                    required="true"
                    auto-validate
                    error-message="Introduce email!" 
                    label="email" 
                    value={{email::input}}></paper-input> 
      
      <paper-input  required="true"
                    id="password"
                    auto-validate
                    error-message="Introduce contraseña!" 
                    label="password" 
                    type="password" 
                    value={{password::input}} ></paper-input>
      <div class="botones"> 
        <paper-button on-tap="enviar" raised class="indigo">Enviar</paper-button> 
      </div>
      <div hidden$="{{!registrado}}" >
        <h3>Registro realizado correctamente.  </h3>
        <a href="/">Entrar</a>

      </div>
    </div>
  </template>

  <script>
    class UsuarioRegistrar extends Polymer.Element {
      static get is() { return 'usuario-registrar'; }
      static get properties() {
        return {
          nombre: {
            type:String,
            value: ''
          },
          apellidos: {
            type: String,
            value: ''
          },
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          registrado: {
            type:Boolean,
            value:false
          }
        };
      }
      volver (){
        location.href = '/entrar';
      }
      respuesta(resultado){
       this.volver()
      }

      enviar(){
        if ((this.$.email.validate()) && (this.$.password.validate()) && 
            (this.$.nombre.validate()) && (this.$.apellidos.validate()) ){
          this.$.datosUsuarios.addEventListener('registrado',this.respuesta.bind(this))
          this.$.datosUsuarios.crearUsuario(this.name, this.apellidos, this.email, this.password)
        }
      }
    }

    window.customElements.define(UsuarioRegistrar.is, UsuarioRegistrar);
  </script>
</dom-module>
