
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="datos-usuarios.html">
<dom-module id="usuario-entrar">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <app-header-layout>
        <app-header slot="header" condenses reveals effects="waterfall" >
            <app-toolbar>
          <div >TechU </div>
            </app-toolbar>
        </app-header>
    </app-header-layout>

    <datos-usuarios  id="datosUsuarios"></datos-usuarios>

    <div class="card">
      
      <paper-input  id="email"
                    required="true"
                    auto-validate
                    error-message="Introduce cuenta!" 
                    label="email" 
                    value={{email::input}}></paper-input> 
      
      <paper-input  required="true"
                    id="password"
                    auto-validate
                    error-message="Introduce contraseña!" 
                    label="password" 
                    type="password" 
                    value={{password::input}} ></paper-input>
      <div class="botones"> 
        <paper-button on-tap="logar" raised class="indigo">Entrar</paper-button> 
        <a href="/registrar">Registrar</a>
      </div>
    </div>
  </template>

  <script>
    class UsuarioEntrar extends Polymer.Element {
      static get is() { return 'usuario-entrar'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: ""
          },
          password: {
            type: String,
            value: ""
          },
          _id:String,
          logado: {
            type: Boolean,
            value: false
          }
          
        };
      }

      logar() {
        if ((this.$.email.validate()) && (this.$.password.validate()) ){
          this.$.datosUsuarios.addEventListener('entrar',this.mostrarResultadoLogin.bind(this))
          this.$.datosUsuarios.addEventListener('error',this.mostrarError.bind(this))

          this.$.datosUsuarios.login(this.email, this.password)
        }
      }

      mostrarResultadoLogin(resultado) {
        this.$.datosUsuarios.removeEventListener('entrar',this.mostrarResultadoLogin)
        this.logado = true
        this.dispatchEvent(new CustomEvent("entrar", resultado))
      }

      mostrarError(error) {
        this.$.datosUsuarios.removeEventListener('entrar',this.mostrarResultadoLogin)
        this.$.datosUsuarios.removeEventListener('error',this.mostrarError)
        console.log(error)
        this.logado = false
      }
    }
    

    window.customElements.define(UsuarioEntrar.is, UsuarioEntrar);
  </script>
</dom-module>
