<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="usuario-perfil">
  <template>
    <style>
      :host {
        display: block;

        padding: 10px 20px;
      }
    </style>

    <div class="card">
      <p>Perfil.</p>

    </div>
  </template>

  <script>
    class UsuarioPerfil extends Polymer.Element {
      static get is() { return 'usuario-perfil'; }
      static get properties() {
        return {
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          usuario: String
        };
      }
    }

    window.customElements.define(UsuarioPerfil.is, UsuarioPerfil);
  </script>
</dom-module>
