<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<dom-module id="datos-cuentas">
  <template>
    <style >
      :host {
        display: block;
      }

      paper-progress {
        display: block;
        width: 100%;
        margin: 20px 0;
      }
    </style>

    <iron-ajax id="obtenerMovimientos"
      url="{{urlBack}}/apitechu/v1/movimientos"
      handle-as="json"
      method="GET"
      on-response="resultadoObtenerMovimientos"
      on-error="errorObtenerMovimientos">
    </iron-ajax>

    <iron-ajax id="crearMovimiento"
      url="{{urlBack}}/apitechu/v5/movimiento"
      handle-as="json"
      content-type="application/x-www-form-urlencoded"
      method="POST"
      on-response="resultadoCrearMovimiento"
      on-error="errorCrearMovimiento">
    </iron-ajax>
   
    <iron-ajax id="eliminarMovimiento"
      url="{{urlBack}}/apitechu/v5/movimiento/"
      handle-as="json"
      method="DELETE"
      on-response="resultadoEliminarMovimiento"
      on-error="errorEliminarMovimiento">
    </iron-ajax>

    <iron-ajax id="eliminarCuenta"
      url="{{urlBack}}/apitechu/v5/cuentas/"
      handle-as="json"
      method="DELETE"
      on-response="resultadoEliminarCuenta"
      on-error="errorEliminarCuenta">
    </iron-ajax>

    <iron-ajax id="obtenerListaCuentas"
      url="{{urlBack}}/apitechu/v1/iban/"
      handle-as="json"
      method="GET"
      request="request"
      on-response="resultadoObtenerCuentas"
      on-error="errorObtenerCuentas">
    </iron-ajax>

    <iron-ajax id="crearCuenta"
        url="{{urlBack}}/apitechu/v5/cuentas"
        method="POST"
        handle-as="json"
        content-type="application/x-www-form-urlencoded"
        on-response="resultadoCrearCuenta"
        on-error="errorCrearCuenta">
    </iron-ajax>

    <paper-progress indeterminate class="blue" hidden id="indicadorCarga"></paper-progress>

</template>

  <script>
    class DatosCuentas extends Polymer.Element {
      static get is() { return 'datos-cuentas'; }
      static get properties() {
        return {
          urlBack: {
            type: String,
            value: function() {
              var appConfig = new AppConfig()
              return appConfig.urlBack; 
            }
          }, 
          usuario: Object
        };
      }

      obtenerMovimientos(iban){
        this.indicadorCarga(true)
        console.log("obtener movimientos:" + iban)
        this.$.obtenerMovimientos.headers = {idCuenta: iban, token: this.usuario.token, usuario: this.usuario.id}
        this.$.obtenerMovimientos.generateRequest()
      }
      
      crearMovimiento(importe, moneda, iban, id, saldo) {
        var bodyMovimiento = {
          importe: Number(importe),
          moneda: moneda,
          iban: iban,
          id: id,
          saldo: Number(saldo)
        }
        this.indicadorCarga(true)
        this.$.crearMovimiento.body = bodyMovimiento
        this.$.crearMovimiento.headers = {token: this.usuario.token, usuario: this.usuario.id}
        this.$.crearMovimiento.generateRequest()
        
      }

      obtenerCuentas() {
        this.indicadorCarga(true)
        var url = this.$.obtenerListaCuentas.url
        this.$.obtenerListaCuentas.url = this.$.obtenerListaCuentas.url + this.usuario.id
        this.$.obtenerListaCuentas.headers = {token: this.usuario.token, usuario: this.usuario.id}
        this.$.obtenerListaCuentas.generateRequest()
        this.$.obtenerListaCuentas.url = url
      }

      crearCuenta(iban, saldo){
        this.indicadorCarga(true)
        var bodyToSend = {
          iban: iban,
          saldo: saldo,
          idcliente: this.usuario.id,
        }
        this.$.crearCuenta.body = bodyToSend
        this.$.crearCuenta.headers = {token: this.usuario.token, usuario: this.usuario.id}
        this.$.crearCuenta.generateRequest()
      }

      resultadoObtenerCuentas(resultado) {
        console.log("Resultado obtener cuentas:" + resultado.detail.response)
        this.indicadorCarga(false)
        this.dispatchEvent(new CustomEvent("respuesta-cuentas", {detail:resultado.detail.response}))
      }

      errorObtenerCuentas(error) {
        console.log(error.detail.response)
        this.indicadorCarga(false)
      }

      resultadoCrearCuenta(resultado){
        this.indicadorCarga(false)
        console.log("Resultado crear cuenta:" + resultado.detail.response)
        this.dispatchEvent(new CustomEvent("respuesta-crear-cuentas", {detail:resultado.detail.response}))
      }
 
      resultadoObtenerMovimientos(resultado) {
        this.indicadorCarga(false)
        console.log("Resultado obtener movimientos:" + resultado.detail.response.movimientos)
        this.dispatchEvent(new CustomEvent("respuesta-movimientos", {detail:resultado.detail.response.movimientos}))
      }

      errorObtenerMovimientos(resultado){
        this.indicadorCarga(false)
        console.log("Error obteniendo movimientos:" + resultado)
      }

      resultadoCrearMovimiento(resultado){
        this.indicadorCarga(false)
        console.log("Resultado crear movimiento: " + resultado.detail.response)
        this.dispatchEvent(new CustomEvent("respuesta-crear-movimiento", {detail:resultado.detail.response}))        
      }

      errorCrearMovimiento(resultado) {
        this.indicadorCarga(false)
        console.log("Error creando movimiento: " + resultado)
      }

      indicadorCarga(estado){
        this.$.indicadorCarga.hidden = !estado
        this.$.indicadorCarga.active = estado
      }


      eliminarCuenta(id) {
        this.indicadorCarga(true)
        var urlEliminarCuenta = this.$.eliminarCuenta.url
        this.$.eliminarCuenta.url = this.$.eliminarCuenta.url + id
        this.$.eliminarCuenta.headers = {token: this.usuario.token, usuario: this.usuario.id}
        this.$.eliminarCuenta.generateRequest()
      }

      resultadoEliminarCuenta(resultado){
        this.indicadorCarga(false)
        this.dispatchEvent(new CustomEvent("respuesta-eliminar-cuenta", {detail: resultado.detail.response}))
      }

      eliminarMovimiento(id, iban){
        this.indicadorCarga(true)
        this.$.eliminarMovimiento.headers = {token: this.usuario.token, usuario: this.usuario.id, id:id, iban:iban }
        this.$.eliminarMovimiento.generateRequest()
      }

      resultadoEliminarMovimiento(resultado){
        this.indicadorCarga(false)
        this.dispatchEvent(new CustomEvent("respuesta-eliminar-movimiento", {detail: resultado.detail.response}))
      }

    }

    window.customElements.define(DatosCuentas.is, DatosCuentas);
  </script>
</dom-module>
