<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/paper-money-input-ench/paper-money-input-ench.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="vista-crear-movimiento">
  <template>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div  class="container">
        <paper-money-input-ench id="importe"
          label="importe" 
          currency="{{simboloMoneda}}"
          required="true"
          decimalSymbol="."
          unitSymbol=","
          auto-validate
        value={{importe::input}}></paper-money-input-ench> 


        <paper-dropdown-menu on-iron-select="monedaSeleccionada" value={{moneda::input}} label="moneda">
            <paper-listbox slot="dropdown-content" class="dropdown-content" selected="0" attr-for-selected="value">
              <template  is="dom-repeat" items="{{listaMonedas}}" >
                <paper-item value="{{index}}">{{item.nombre}}</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
        <div class="botones"> 
          <paper-button on-tap="crearMovimiento" raised class="indigo">Enviar</paper-button> 
        </div>
    </div>


  </template>

  <script>
    class VistaCrearMovimiento extends Polymer.Element {
      static get is() { return 'vista-crear-movimiento'; }
      static get properties() {
        return {
          importe: String,
          moneda: String,
          simboloMoneda: String,
          listaMonedas: {
            type: Object,
            value: [{'nombre':'USD','simbolo':'$'},{'nombre':'EUR','simbolo':'€'}]
          }
        };

      }

      crearMovimiento() {
        if ((this.$.importe.validate()) ) {
          this.dispatchEvent(new CustomEvent("crear-movimiento", 
                                            {detail:{importe:this.importe, moneda:this.moneda }}))
        }
      }

      monedaSeleccionada(e){
        console.log(e.detail.item.value)
        this.moneda = this.listaMonedas[e.detail.item.value].nombre
        this.simboloMoneda = this.listaMonedas[e.detail.item.value].simbolo
      }

      limpiar(){
        this.importe=0
      }
    }  



    window.customElements.define(VistaCrearMovimiento.is, VistaCrearMovimiento);
  </script>
</dom-module>
