<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-money-input-ench/paper-money-input-ench.html">

<link rel="import" href="datos-cuentas.html">

<dom-module id="vista-movimiento">
  <template>

    <style>

      :host {
        --paper-input-container-input: {
          font-size: 10px;
        };
        --paper-money-input-ench:{
          max-width: 40px;
        }
      }
      .container, .layout {
        background-color: white;
        padding: 2px;
      }
      .container div, .layout div {
        background-color: white;
        padding: 2px;
        margin: 4px;
      }
      .importe {
        max-width: 70px;
      }
      .fecha {
        min-width: 120px;
      }
      .flex-horizontal {
      @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
      }

    </style>
    <div  class="container flex-horizontal">
      <div >
        <paper-input class="fecha" readOnly="true" label="fecha" value="{{fecha::input}}"> </paper-input>
      </div>
      <div class="flexchild"></div>
      <div>
        <paper-money-input-ench class="importe" id="importe"
        label="importe" 
        currency="{{simboloMoneda}}"
        readOnly="true"
        decimalSymbol="."
        unitSymbol=","
        auto-validate
        value="{{importe::input}}"></paper-money-input-ench> 
      </div>
    </div>
    
  </template>

  <script>
    class VistaMovimiento extends Polymer.Element {
      static get is() { return 'vista-movimiento'; }
      static get properties() {
        return {
          fecha: {
            type:String,
            value: "13/09/2018"
          },
          importe: {
            type: Number,
            value: 24000
          },
          moneda: String,
          id: String,
          simboloMoneda: {
            type: String,
            computed: 'obtenerSimboloMoneda()'
          },
          listaMonedas: {
            type: Object,
            value: {'USD':'$','EUR':'€'}
          }
        };
      }

      obtenerSimboloMoneda(){
        return this.listaMonedas[this.moneda]
      }
    }

    window.customElements.define(VistaMovimiento.is, VistaMovimiento);
  </script>
</dom-module>
