<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="vista-lista-movimientos.html">
<link rel="import" href="vista-crear-movimiento.html">
<link rel="import" href="datos-cuentas.html">
<link rel="import" href="vista-cuenta.html">

<dom-module id="vista-detalle-cuentas">
  <template>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style include="shared-styles">
      :host {
        display: block;
      }
      .card {
        padding: 5px;
        margin: 5px;

      }
    </style>

    <app-header reveals>
      <app-toolbar>
        <paper-icon-button on-tap="salirDetalle"   icon="my-icons:arrow-back" ></paper-icon-button>
        <div main-title >Detalle</div>
        <paper-icon-button hidden$={{crear}}  on-tap="eliminarCuenta"  icon="my-icons:delete"></paper-icon-button>
        <paper-icon-button hidden$={{crear}}  on-tap="crearMovimiento"  icon="my-icons:add-circle-outline"></paper-icon-button>
        <paper-icon-button hidden$={{!crear}} on-tap="listarMovimientos"  icon="my-icons:close"></paper-icon-button>
      </app-toolbar>
    </app-header>
    <datos-cuentas usuario={{usuario}}  id="datosCuentas"></datos-cuentas>

    <div class="card">
        <vista-cuenta class="flexchild" iban="{{iban}}" saldo="{{saldo}}">
          </vista-cuenta>
    </div>
    <vista-crear-movimiento on-crear-movimiento="enviaCrearMovimiento" hidden id="vistaCrearMovimiento"></vista-crear-movimiento>
    <vista-lista-movimientos on-eliminar-movimiento="eliminarMovimiento"  movimientos={{movimientos}} id="vistaListaMovimientos" ></vista-lista-movimientos>
  </template>

  <script>
    class VistaDetalleCuentas extends Polymer.Element {
      static get is() { return 'vista-detalle-cuentas'; }
      static get properties() {
        return {
          movimientos: {
            type:Array
          },
          fecha: String,
          importe: Number,
          moneda: String,
          iban:String,
          saldo:Number,
          crear: {
            type: Boolean,
            value: false
          },
          usuario: Object,
          idCuenta: String
        };
      }

      verDetalle(iban, saldo, usuario, idCuenta){
        this.movimientos = []
        this.iban = iban
        this.saldo = saldo
        this.usuario = usuario
        this.idCuenta = idCuenta
        this.$.datosCuentas.addEventListener('respuesta-movimientos',this._respuestaMovimientos.bind(this))
        this.$.datosCuentas.obtenerMovimientos(iban)
      }

      _respuestaMovimientos(resultado) {
        this.movimientos = resultado.detail
        this.$.datosCuentas.removeEventListener('respuesta-movimientos', this._respuestaMovimientos)
      }

      salirDetalle(){
        this.dispatchEvent(new CustomEvent("salir-detalle", {detail:{usuario:this.usuario}, bubbles: true, composed: true} ))
      }

      crearMovimiento(){
        this.crear = !this.crear
        this.$.vistaCrearMovimiento.hidden = false
        this.$.vistaListaMovimientos.hidden = true
      }

      listarMovimientos(){
        this.crear = !this.crear
        this.$.vistaCrearMovimiento.hidden = true
        this.$.vistaListaMovimientos.hidden = false
      }

      enviaCrearMovimiento(evento){
        this.$.datosCuentas.addEventListener('respuesta-crear-movimiento',this._respuestaCrearMovimiento.bind(this))
        this.$.datosCuentas.crearMovimiento(evento.detail.importe, evento.detail.moneda, this.iban, this.movimientos.length, this.saldo)
      }

      _respuestaCrearMovimiento(resultado){
        console.log(resultado)
        this.$.datosCuentas.removeEventListener('respuesta-crear-movimiento',this._respuestaCrearMovimiento)
        this.$.vistaCrearMovimiento.limpiar()
        this.saldo = resultado.detail.saldo
        this.verDetalle(this.iban, this.saldo,this.usuario, this.idCuenta)
        this.listarMovimientos()
      }

      eliminarCuenta(){
        this.$.datosCuentas.addEventListener('respuesta-eliminar-cuenta',this.respuestaEliminarCuenta.bind(this))
        this.$.datosCuentas.eliminarCuenta(this.idCuenta)
      }

      respuestaEliminarCuenta(resultado) {
        this.$.datosCuentas.removeEventListener('respuesta-eliminar-cuenta', this.respuestaEliminarCuenta)
        this.salirDetalle()
      }

      eliminarMovimiento(e){
        this.$.datosCuentas.addEventListener('respuesta-eliminar-movimiento',this.respuestaEliminarMovimiento.bind(this))
        this.$.datosCuentas.eliminarMovimiento(e.detail.id, this.iban)
      }

      respuestaEliminarMovimiento(e) {
        this.$.datosCuentas.removeEventListener('respuesta-eliminar-movimiento',this.respuestaEliminarMovimiento)
        this.verDetalle(this.iban, this.saldo,this.usuario, this.idCuenta)
        this.listarMovimientos() 
      }
    }

    window.customElements.define(VistaDetalleCuentas.is, VistaDetalleCuentas);
  </script>
</dom-module>
