<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../app-config.html">
<link rel="import" href="vista-cuenta.html">

<dom-module id="vista-lista-cuentas">
  <template>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style include="shared-styles">
      :host {
        display: block;
        background-color:gainsboro;
      }

    
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
      }
      .fila {
        padding: 5px;

      }

      .container {
        background-color: white;
        align-items: center;
      }


    </style>
      
    <template  is="dom-repeat" items="{{listaCuentas}}" >
      <div class="fila">
      <div class="container flex-horizontal">
        <vista-cuenta class="flexchild" iban="{{item.iban}}" saldo="{{item.saldo}}">
        </vista-cuenta>
        <paper-icon-button id="[[index]]" icon="my-icons:chevron-right" on-tap="verDetalle"></paper-icon-button>
      </div>
    </div>
    </template>
    
    

  </template>

  <script>
    class VistaListaCuentas extends Polymer.Element {
      static get is() { return 'vista-lista-cuentas'; }
      static get properties() {
        return {
          listaCuentas: {
            type: Array,
            reflectToAttribute: true
            
          }
        };
      }
      
      verDetalle(e) {
        var index = e.target.id
        console.log("Ver detalle:" + this.listaCuentas[index])

        this.dispatchEvent(new CustomEvent("detalle", {detail:this.listaCuentas[index], bubbles: true, composed: true} ))
      }

    }
    window.customElements.define(VistaListaCuentas.is, VistaListaCuentas);
    
  </script>
</dom-module>
