<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="vista-movimiento.html">

<dom-module id="vista-lista-movimientos">
  <template>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style include="shared-styles">
      :host {
        display: block;
        background-color:gainsboro;
      }
      .flex-horizontal {
        @apply --layout-horizontal;
      }
      .flexchild {
        @apply --layout-flex;
      }
      .fila {
        padding: 5px;
      }

      .container {
        background-color: white;
        align-items: center;
      }
    </style>
      <template is="dom-repeat" items="{{movimientos}}">
        <div class="fila">
          <div class="container flex-horizontal">
            <vista-movimiento class="flexchild" moneda="{{item.moneda}}" fecha="{{item.fecha}}" importe="{{item.importe}}" ></vista-movimiento>
            <paper-icon-button id="[[index]]" icon="my-icons:remove-circle-outline" on-tap="eliminarMovimiento"></paper-icon-button>
          </div>
        </div>
      </template>

  </template>

  <script>
    class VistaLitaMovimientos extends Polymer.Element {
      static get is() { return 'vista-lista-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type:Array,
            reflectToAttribute: true
          }
        };     
      }

      eliminarMovimiento(e) {
        console.log(e)
        var movimiento = this.movimientos[e.target.id]
        var idEliminar = movimiento.id
        this.dispatchEvent(new CustomEvent("eliminar-movimiento", {detail: {id: idEliminar}}))
      }
    }  

    window.customElements.define(VistaLitaMovimientos.is, VistaLitaMovimientos);
  </script>
</dom-module>
