<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-money-input-ench/paper-money-input-ench.html">

<link rel="import" href="datos-cuentas.html">

<dom-module id="vista-cuenta">
  <template>

    <style>

      :host {
        --paper-input-container-input: {
          font-size: 10px;
        };
        --paper-money-input-ench:{
          max-width: 60px;
        }
      }
      .container, .layout {
        background-color: white;
        padding: 2px;
      }
      .container div, .layout div {
        background-color: white;
        padding: 2px;
        margin: 4px;
      }
      .saldo {
        max-width: 70px;
      }
      .iban {
        min-width: 200px;
      }
      .flex-horizontal {
      @apply --layout-horizontal;
    }
    .flexchild {
      @apply --layout-flex;
    }

        </style>
       <div  class="container flex-horizontal">
          <div >
            <paper-input class="iban" readOnly="true" label="IBAN" value="{{iban::input}}"> </paper-input>
          </div>
          <div class="flexchild"></div>
          <div>
            <paper-money-input-ench class="saldo" id="saldo"
            label="saldo" 
            currency="€"
            readOnly="true"
            decimalSymbol="."
            unitSymbol=","
            auto-validate
            value="{{saldo::input}}"></paper-money-input-ench> 
          </div>
        </div>
    
  </template>

  <script>
    class VistaCuenta extends Polymer.Element {
      static get is() { return 'vista-cuenta'; }
      static get properties() {
        return {
          iban: {
            type:String,
            value: "ES80 2310 0001 1800 0001 2345"
          },
          saldo: {
            type: Number,
            value: 80000
          }
          
        };
      }
    }

    window.customElements.define(VistaCuenta.is, VistaCuenta);
  </script>
</dom-module>
