<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-money-input-ench/paper-money-input-ench.html">
<link rel="import" href="../app-config.html">


<dom-module id="vista-crear-cuenta">
  <template>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style include="shared-styles">
      :host {
        display: block;
        
      }

    </style>
    
    <div class="container">
      <paper-input 
        id="iban"
        label="iban" 
        required="true"
        auto-validate
        error-message="Introduce identificador cuenta!"
        value={{iban::input}}></paper-input> 
      <paper-money-input-ench id="saldo"
                              label="saldo" 
                              currency="€"
                              required="true"
                              decimalSymbol="."
                              unitSymbol=","
                              auto-validate
                              value={{saldo::input}}></paper-money-input-ench> 
      <div class="botones"> 
        <paper-button on-tap="enviar" raised class="indigo">Enviar</paper-button> 
      </div>
    </div>
  
  </template>

  <script>
    class VistaCrearCuenta extends Polymer.Element {
      static get is() { return 'vista-crear-cuenta'; }
      static get properties() {
        return {
          iban: String,
          saldo: Number,
        };
      }
    
      enviar(){
        if ((this.$.iban.validate()) && (this.$.saldo.validate())) {
          this.dispatchEvent(new CustomEvent("crear-cuenta", 
                                            {detail:{iban:this.iban, saldo:this.saldo }}))
        }
      }

      limpiar(){
        this.iban=""
        this.saldo = 0
        this.$.iban.invalid = false
      }
    
    }

    window.customElements.define(VistaCrearCuenta.is, VistaCrearCuenta);
    
  </script>
</dom-module>
