<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../my-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../app-config.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="vista-detalle-cuentas.html">
<link rel="import" href="vista-crear-cuenta.html">
<link rel="import" href="vista-lista-cuentas.html">
<link rel="import" href="datos-cuentas.html">
<link rel="import" href="../app-config.html">


<dom-module id="vista-cuentas">
  <template>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style include="shared-styles">
      :host {
        display: block;
        
      }
    </style>
   
    <app-header reveals>
      <app-toolbar>
        <paper-icon-button   icon="my-icons:menu"on-tap="menu"></paper-icon-button>
        <div main-title >Cuentas</div>
        <paper-icon-button hidden$={{crear}}  on-tap="crearCuenta"  icon="my-icons:add-circle-outline"></paper-icon-button>
        <paper-icon-button hidden$={{!crear}} on-tap="listarCuentas"  icon="my-icons:close"></paper-icon-button>
        <paper-icon-button on-tap="salir"  icon="my-icons:exit-to-app"></paper-icon-button>
      </app-toolbar>
    </app-header>

    <datos-cuentas usuario={{usuario}} id="datosCuentas"></datos-cuentas>
  
    <vista-crear-cuenta on-crear-cuenta="enviaCrearCuenta" id="vistaCrearCuenta"></vista-crear-cuenta>
    <vista-lista-cuentas  id="vistaListaCuentas" lista-cuentas={{cuentas}}  > </vista-lista-cuentas>
  </template>

  <script>
    class VistaCuentas extends Polymer.Element {
      static get is() { return 'vista-cuentas'; }
      static get properties() {
        return {
          cuentas: {
            type: Array
          },
          usuario: {
            type: Object,
            reflectToAttribute: true,
            observer: '_usuarioChanged',
          },
          
          crear: {
            type: Boolean,
            value: false
          }
        };
      }


      _usuarioChanged(usuario) {
        this.cargarCuentas()
      }

      cargarCuentas() {
        this.$.cuentas = []
        this.$.datosCuentas.addEventListener('respuesta-cuentas',this._respuestaCuentas.bind(this))
        this.$.datosCuentas.obtenerCuentas()

        this.$.vistaListaCuentas.hidden = false
        this.$.vistaCrearCuenta.hidden = true
      }

      _respuestaCuentas(resultado) {
        this.cuentas = resultado.detail
        this.$.datosCuentas.removeEventListener('respuesta-cuentas',this._respuestaCuentas)
      }

      enviaCrearCuenta(evento){
        this.$.datosCuentas.addEventListener('respuesta-crear-cuentas',this._respuestaCrearCuenta.bind(this))
        this.$.datosCuentas.crearCuenta(evento.detail.iban, evento.detail.saldo)
      }

      _respuestaCrearCuenta(resultado){
        console.log(resultado)
        this._usuarioChanged(this.usuario)
        this.listarCuentas()
        this.$.vistaCrearCuenta.limpiar()
        this.$.datosCuentas.removeEventListener('respuesta-crear-cuentas',this._respuestaCrearCuenta)
      }

      crearCuenta(){
        this.crear = !this.crear
        this.$.vistaCrearCuenta.hidden = false
        this.$.vistaListaCuentas.hidden = true
      }

      listarCuentas(){
        this.crear = !this.crear
        this.$.vistaCrearCuenta.hidden = true
        this.$.vistaListaCuentas.hidden = false
      }

      menu(){
        this.dispatchEvent(new CustomEvent("menu", {detail:'toggle', bubbles: true, composed: true} ))
      }

    }
    window.customElements.define(VistaCuentas.is, VistaCuentas);
    
  </script>
</dom-module>
