
<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="app-config">
  <template>

  </template>

  <script>
    class AppConfig extends Polymer.Element {
      static get is() { return 'app-config'; }
      static get properties() {
        return {
          urlBack: {
            type: String,
            value:"http://localhost:4000"
          }
        };
      }
    }

    window.customElements.define(AppConfig.is, AppConfig);
  </script>
</dom-module>
