<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="app-config.html">


<link rel="import" href="usuarios/usuario-entrar.html">
<link rel="import" href="usuarios/usuario-registrar.html">
<link rel="import" href="cuentas/vista-cuentas.html">
<link rel="import" href="usuarios/usuario-perfil.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      span {
        font-size: 12px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
      route="{{route}}"
      pattern="[[rootPath]]:page"
      data="{{routeData}}"
      tail="{{subroute}}">
    </app-route>
    <app-drawer-layout>
        <app-drawer id="myDrawer" slot="drawer" align="end">
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
              <a name="cuentas" href="[[rootPath]]cuentas">Cuentas</a>
              <a name="perfil" href="">Perfil</a>
              <a name="ayuda" href="">Ayuda</a>
             <!-- <a name="perfil" href="[[rootPath]]perfil">Perfil</a> -->
          </iron-selector>
        </app-drawer>
    <iron-pages
          id="paginas"
          selected="[[page]]"
          attr-for-selected="name"
          fallback-selection="view404"
          role="main">
      <usuario-entrar on-entrar="procesarEntrar" name="entrar"></usuario-entrar>
      <usuario-registrar name="registrar"></usuario-registrar>
      <vista-cuentas on-menu="menu" on-detalle="verDetalle" id="cuentas"  usuario={{usuario}} name="cuentas"></vista-cuentas>
      <vista-detalle-cuentas on-salir-detalle="salirDetalle"  id="detalleCuentas" name="detalleCuentas"></vista-detalle-cuentas>
      <usuario-perfil usuario={{usuario}} name="perfil"></usuario-perfil>
      <my-view404 name="view404"></my-view404>
    </iron-pages>
    </app-drawer-layout>
  </template>
</template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,

          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          usuario: {
            type: Object
          },
          urlBack: {
            type: String,
            value: function() {
              var appConfig = new AppConfig()
              return appConfig.urlBack; 
            }
          },
          titulo: String
  
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'entrar';

      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        console.log("cambio de página:" + page)

      }

      _showPage404() {
        this.page = 'view404'
      }

      procesarEntrar(e){
        console.log("procesarEntrar" + e)
        this.usuario = e.detail.usuario
        this.usuario.logado = true
        var config = new AppConfig()
        console.log("url back:" + this.urlBack)
        this.page="cuentas"
        this.$.cuentas.cargarCuentas()
      }


       
      mostrarCuentas() {
        this.$.cuentas.salirDetalle()
      }

      verDetalle(e) {
        console.log(e.detail)
        this.$.detalleCuentas.verDetalle(e.detail.iban, e.detail.saldo, this.usuario, e.detail._id.$oid)
        this.page = "detalleCuentas"
      }
      
      salirDetalle(e){
        this.page = "cuentas"
        this.$.cuentas.cargarCuentas()
      }

      menu(){
        this.$.myDrawer.toggle()
      }


    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
