

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
      }

      .card2 {
        margin: 10px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        font-size: small;
        font-weight: 200;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .card {
        

        border: white;
        background-color: #fff;
        font-size: small;
        font-weight: 200;
        border-radius: 0px;
        margin: 15px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        }
      }

      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
        font-size: small;
      }

      .botones {
        padding: 10px;
        text-align: right;
      }

      app-header {
        color: #fff;
        background-color: var(--paper-indigo-600);
        height: 60px;

      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }


    </style>
  </template>
</dom-module>
